
    <div class="main" style="margin-left: 21%;">
        <!-- <!-- <script type="text/javascript" src="lastfm.api.md5.js"></script> -->
        <!-- <script type="text/javascript" src="lastfm.api.js"></script>
        <script type="text/javascript" src="lastfm.api.cache.js"></script> -->

        <div class="page">
            <header>
                <span class="sidebar_icon" onclick="open_sidebar()"><i class="fa fa-bars"></i></span>
                <div class="container">
                    <h1><b>Accounts</b></h1>
                </div>
            </header>
            <div class="row-padding" id='logos'>
                <div class="site_profile">
                    <img src="img/gmail.svg">
                    <input type="text" id='gmail_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="site_profile">
                    <img src="img/lastfm.svg">
                    <input type="text" id='lastfm_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" id = "lfm" onchange="connLastfm()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="site_profile">
                    <img src="img/linkedin.svg">
                    <input type="text" id='linkedin_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" name='linkedin' id="li" value='1'>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="site_profile">
                    <img src="img/steam.svg">
                    <input type="text" id='steam_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" id="VK" onchange="connVK();">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="site_profile">
                    <img src="img/twitter.svg">
                    <input type="text" id='twitter_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" id = "twitter" onchange="connTwitter()">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</html>
<script>
    redirectProcess();
    // updateLinks();
    function redirectProcess(){
        var url = window.location.href;
        url = new URL(url);
        var sn = url.searchParams.get("sn");
        var token = url.searchParams.get("token");
        console.log(token)
        if(sn){
            $.ajax({
                url: '/functions',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({func: 'toggleLink', social_network: sn, user_token: token}),
            });
        }
    }

    function updateLinks(){
        $.ajax({
            url: '/functions',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({func: 'updateLinks'}),
            success: function(msg, status, jqXHR) {
                    for(sn in msg){
                        if(sn == "lastfm"){
                            var lastfm_checkbox = document.getElementById('lfm');
                            lastfm_checkbox.checked = true;
                        }
                    }
                }
        });
    }

    function connlinkedin(){
        if(document.getElementById('li').checked){
            window.location="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77htiwwawo0jau&redirect_uri=http://localhost:3000/&state=987654321&scope=r_basicprofile";
            return false;
        }
        return true;
    }

    function connVK(){
        window.location="https://oauth.vk.com/authorize?client_id=7299886&display=page&redirect_uri=http://localhost:3000/links?sn=vk&scope=friends&response_type=token&v=5.103";
    }

    function connLastfm(){
        var lastfmName = document.getElementById('lastfm_username');
        var checkbox = document.getElementById("lfm");
        if(!lastfmName.value) {
            lastfmName.setAttribute("style", "border-color: red;")
            checkbox.checked = false;
        } else{
            if(checkbox.checked){
                $.ajax({
                    url: '/functions',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({func:'insertLFMuser',user:lastfmName.value}),
                    success: (data) => {
                        console.log('data');
                        if (data==true)
                            console.log("username inserted for LASTFM");
                        else
                            console.log("username failed for LASTFM");
                        var authUrl = "http://www.last.fm/api/auth/?api_key=a0a04802c25d3f828bf43e8c54e50ed8&cb=http://localhost:3000/links?sn=lastfm"
                        window.location = authUrl;
                    }
                });
            }
        }
    }

    function connTwitter(){
        var checkbox = document.getElementById("twitter");
        if(checkbox.checked){
            $.ajax({
                url: '/functions',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({func:'requestTokenTwitter'}),
                    success: (data) => {       
                        var authUrl = "https://api.twitter.com/oauth/authenticate?oauth_token=" + data.token;
                        window.location = authUrl;
                    }
            });
        }
    }
</script>