
    <div class="main" style="margin-left: 21%;">
        <!-- <!-- <script type="text/javascript" src="lastfm.api.md5.js"></script> -->
        <!-- <script type="text/javascript" src="lastfm.api.js"></script>
        <script type="text/javascript" src="lastfm.api.cache.js"></script> -->

        <div class="page">
            <header>
                <span class="sidebar_icon" onclick="open_sidebar()"><i class="fa fa-bars"></i></span>
                <div class="container">
                    <h1><b>Accounts</b></h1>
                </div>
            </header>
            <div class="row-padding" id='logos'>
                <div class="site_profile">
                    <img src="img/lastfm.svg">
                    <input type="text" id='lastfm_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" id = "lfm" onchange="connLastfm()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="site_profile">
                    <img src="img/linkedin.svg">
                    <input type="text" id='linkedin_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" name='linkedin' id="li" value='1' onchange="connlinkedin()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="site_profile">
                    <img src="img/vk.svg">
                    <input type="text" id='vk_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" id="VK" onchange="connVK();">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="site_profile">
                    <img src="img/twitter.svg">
                    <input type="text" id='twitter_username' placeholder="Enter username">
                    <label class="switch">
                        <input type="checkbox" id = "twitter" onchange="connTwitter()">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</html>
<script>
    var socket = io.connect('http://localhost');
    redirectProcess();
    updateLinks();
    function redirectProcess(){
        var url = window.location.href;
        url = new URL(url);
        var sn = url.searchParams.get("sn");
        socket.emit('addAcq',function(data){})
        switch(sn){
            case 'lastfm':
            var token = url.searchParams.get("token");
            socket.emit('toggleLink',{social_network: sn, user_token: token},function(data){})
            break;
            case 'twitter':
                var oauth_token = url.searchParams.get("oauth_token");
                var oauth_verifier = url.searchParams.get("oauth_verifier");
                socket.emit('toggleLink',{social_network: sn, user_token: oauth_token, verifier: oauth_verifier},function(data){})
                break;
            case 'vk':
                var hashes = location.hash.split('&');
                var json = {token: hashes[0].split('=')[1], user_id: hashes[2].split('=')[1]};
                console.log(json)
                socket.emit('addVKToken',json,function(data){
                    console.log(data)
                })
                break;
        }
    }

    function updateLinks(){
        socket.emit('updateLinks',function(data){
            for(sn in data.list){
                        console.log(data.list[sn]);
                        if(data.list[sn] == "lastfm"){
                            var lastfm_checkbox = document.getElementById('lfm');
                            lastfm_checkbox.checked = true;
                        }
                        if(data.list[sn] == "twitter"){
                            var twitter_checkbox = document.getElementById("twitter");
                            twitter_checkbox.checked = true;
                        }
                        if(data.list[sn] == "vk"){
                            var lastfm_checkbox = document.getElementById('VK');
                            lastfm_checkbox.checked = true;
                        }
                    }
        })
    }

    function connlinkedin(){
            window.location="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77htiwwawo0jau&redirect_uri=http://localhost:3000/&state=987654321&scope=r_basicprofile";
    }

    function connVK(){
        var vk1 = document.getElementById('vk_username');
        var checkbox = document.getElementById("VK");
        if(!vk1.value) {
            vk1.setAttribute("style", "border-color: red;")
            checkbox.checked = false;
        } else{
            if(checkbox.checked){
                socket.emit('insertUserName',{sn:'vk',user:vk1.value},function(data){console.log('data');
                        if (data==true)
                            console.log("username inserted for VK");
                        else
                            console.log("username failed for VK");
                        window.location="https://oauth.vk.com/authorize?client_id=7299886&display=page&redirect_uri=http://localhost:3000/links?sn=vk&scope=friends&response_type=token&v=5.103";
                    })
            } else {
                socket.emit('vkOut',function(data){
                    if(data){
                            redirectProcess();
                        }
                })
            }

        }
    }

    function connLastfm(){
        var lastfmName = document.getElementById('lastfm_username');
        var checkbox = document.getElementById("lfm");
        console.log(checkbox.checked);
        if(checkbox.checked){
            if(!lastfmName.value) {
                lastfmName.setAttribute("style", "border-color: red;")
                checkbox.checked = false;
            } else {
                socket.emit('insertUserName',{sn:'lastfm',user:lastfmName.value},function(data){
                    // console.log('data');
                    if (data==true)
                        console.log("username inserted for LASTFM");
                    else
                        console.log("username failed for LASTFM");
                    var authUrl = "http://www.last.fm/api/auth/?api_key=a0a04802c25d3f828bf43e8c54e50ed8&cb=http://localhost:3000/links?sn=lastfm"
                    window.location = authUrl;
                })
            }
        } else{
            socket.emit('lastfmOut',function(data){
                if(data){
                        redirectProcess();
                    }
            })
        }
    }

    function connTwitter(){
        var checkbox = document.getElementById("twitter");
        if(checkbox.checked){
            socket.emit('requestTokenTwitter',function(data){
                var authUrl = "https://api.twitter.com/oauth/authenticate?oauth_token=" + data.token;
                window.location = authUrl;
            })
        } else {
            socket.emit('twitterOut',function(data){
                if(data){
                    redirectProcess();
                }
            })
        }
    }
</script>