
    <div class="main" style="margin-left: 21%;">
       
        <div class="page">
            <header>
                <span class="sidebar_icon" onclick="open_sidebar()"><i class="fa fa-bars"></i></span>
                <div class="container">
                    <h1><b>Sugested friends</b></h1>
                    <div class="search_container">
                        <input type="text" placeholder="Search...">
                        <div class="search"></div>
                    </div>
                    <br>
                    <div class="search_filter bottombar">
                        <span class="filter">Filter:</span>
                        <button class="filter-button white" onclick="sortLoc('up')" >Name &uarr;</button>
                        <button class="filter-button white" onclick="sortLoc('down')">Name &darr;</button>
                    </div>
                </div>
            </header>
            <div class="row-padding" id="alist">
            </div>
        </div>

</html>

<script>
    var socket = io.connect('http://localhost');
    getAcqList();
    function getAcqList(){
        socket.emit('getAcqList',function(data){
            console.log(data.response);
            var acquaintances = data.response;
            var name = "";
            var link = "";
            for(a in acquaintances){
                switch(acquaintances[a].alsoOn){
                    case 'lastfm':
                        name = acquaintances[a].acq.lastfm_username;
                        link = "https://www.last.fm/user/" + name;
                        break;
                    case 'twitter':
                        name = acquaintances[a].acq.twitter_username;
                        link = "https://twitter.com/" + name;
                        break;
                    case 'vk':
                        name = acquaintances[a].acq.vk_username;
                        link = "N/A";
                        break;
                }
                var node = `<div class='user_profile'><p><b>Name: ${name}</b></p><p>Real name: ${acquaintances[a].acq.fname} ${acquaintances[a].acq.lname} </p><p>You might know this person from <a target = '_blank' id="account_link" href = ${link}>${acquaintances[a].alsoOn}</a></p></div>`;
                console.log(node);
                $('#alist').append(node);
            }
        });
    }

    function sortLoc(dir){
        var biglist = $('.row-padding');
        var mylist = $('.row-padding > .user_profile');
        console.log(mylist)
        if (dir == 'up')
            mylist.sort(function(a, b) {
                // console.log($(a).children('p').get(2).textContent);
                return $(a).children('p').get(2).textContent.toUpperCase().localeCompare($(b).children('p').get(2).textContent.toUpperCase());
            });
        else
            mylist.sort(function(a, b) {
                // console.log($(a).children('p').get(2).textContent);
                return $(b).children('p').get(2).textContent.toUpperCase().localeCompare($(a).children('p').get(2).textContent.toUpperCase());
            });
            biglist.empty();
        $.each(mylist, function(index, item) {
            biglist.append(item); 
        });
    };

    function resetFilter(){
        select = document.getElementsByClassName("filter-select");
        for(i = 0; i < select.length; i++){
            b = select[i].getElementsByClassName("same-as-selected");
            for(j = 1; j < b.length; j++)
                b[j].removeAttribute("class");
            select[i].firstElementChild.options[select[i].firstElementChild.selectedIndex].removeAttribute("class");
            select[i].firstElementChild.options[0].setAttribute("class", "same-as-selected");
            select[i].firstElementChild.selectedIndex = 0;
            select[i].firstElementChild.value = 0;
            select[i].children[2].previousSibling.innerText = select[i].firstElementChild.options[0].text;


        }
    }
</script>