
<div class="main" style="margin-left: 21%;">
    <div class="page">
        <header>
            <span class="sidebar_icon" onclick="open_sidebar()"><i class="fa fa-bars"></i></span>
            <div class="container">
                <h1><b>Friends</b></h1>
                <div class="search_container">
                    <input type="text" placeholder="Search..." id= "search_bar" onclick="searchFilter()">
                    <div class="search"></div>
                </div>
                <br>
                <div class="search_filter bottombar">
                    <span class="filter">Filter:</span>
                    <button class="filter-button white" >All</button>
                    <button class="filter-button white" onclick="sortLoc('up')" >Location &uarr;</button>
                    <button class="filter-button white" onclick="sortLoc('down')">Location &darr;</button>
                        <select id = 'snSel'>
                            <option value="LastFM">lastfm</option>
                            <option value="VK">vk</option>
                            <option value="Twitter">twitter</option>
                            <option value="LD">linkedin</option>
                        </select>
                        <button class="filter-button white" onclick="sortSN()">Sort</button>
                </div>
            </div>
        </header>
        <div class="row-padding" id="flist">
        </div>
    </div>
</html>

<script>
    $("#search_bar").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#search_bar").click();
        }
    });
    getFriendsList();

    function getFriendsList(){
        networks = ['lastfm', 'twitter','vk'];
        for ( var net in networks){
            $.ajax({
                url: '/functions',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({func: 'getFriends1',network: networks[net]}),
                success: (data) => {
                    for(user in data.response){
                            var imgsrc = data.response[user].img;
                            var node = `<div class='user_profile'>`;
                            var node = node + `<img alt='Profile pic' src=${imgsrc}>`;
                            var node = node + `<p><b>Name: ${data.response[user].name}</b></p><p>Real name: ${data.response[user].real_name} </p><p>Location: ${data.response[user].country}</p><p>From: <a target = '_blank' id="account_link" href = ${data.response[user].link}>${data.response[user].from}</a></p></div>`;
                            // console.log(node);
                            $('#flist').append(node);
                    }
                }
            });
        }
        return 'DONE';
    }

    function sortLoc(dir){
        var biglist = $('.row-padding');
        var mylist = $('.row-padding > .user_profile');
        console.log(mylist)
        if (dir == 'up')
            mylist.sort(function(a, b) {
                // console.log($(a).children('p').get(2).textContent);
                return $(a).children('p').get(2).textContent.toUpperCase().localeCompare($(b).children('p').get(2).textContent.toUpperCase());
            });
        else
            mylist.sort(function(a, b) {
                // console.log($(a).children('p').get(2).textContent);
                return $(b).children('p').get(2).textContent.toUpperCase().localeCompare($(a).children('p').get(2).textContent.toUpperCase());
            });
            biglist.empty();
        $.each(mylist, function(index, item) {
            biglist.append(item); 
        });
    };
    function sortSN(){
        var y = getFriendsList();
        console.log('HI')
        var biglist = $('.row-padding');
        var mylist = $('.row-padding > .user_profile');
        var x=$('#snSel').val()
        var newlist =[];
        $.each(mylist, function(index, item) {
            console.log($(item).children('p').get(3).textContent,('From: ' + x))
            if($(item).children('p').get(3).textContent == ('From: ' + x))
                newlist.push(item); 
        });
        console.log(newlist);
        biglist.replaceWith(newlist);
    };



    function searchFilter(){
        var words = document.getElementById("search_bar").value;
        console.log(words);
        if(words){
            $.ajax({
                url: '/functions',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({func: 'getMatchingFriends', words: words}),
                    success: (data) => {
                        var divlist = document.getElementById("flist");
                        divlist.innerHTML = '<div class="row-padding" id="flist"></div>';
                        for(user in data.response){
                            var imgsrc = data.response[user].img;
                            var node = `<div class='user_profile'>`;
                            if(imgsrc){
                            var node = node + `<img alt='Profile pic' src=${imgsrc}>`;
                            }
                            var node = node + `<p><b>Name: ${data.response[user].name}</b></p><p>Real name: ${data.response[user].real_name} </p><p>Location: ${data.response[user].country}</p><p>From: <a target = '_blank' id="account_link" href = ${data.response[user].link}>${data.response[user].from}</a></p></div>`;
                            $('#flist').append(node);
                        }
                    }
            });
        }
    }
</script>