
    <div class="main" style="margin-left: 21%;">

        <div class="page">
            <header>
                <span class="sidebar_icon" onclick="open_sidebar()"><i class="fa fa-bars"></i></span>
                <div class="container">
                    <h1><b>Sugested friends</b></h1>
                    <div class="search_filter bottombar">
                        <div class="search_container">
                            <input type="text" placeholder="Search...">
                            <div class="search"></div>
                        </div>
                        <br>
                        <span class="margin-right">Filter:</span>
                        <button class="all">All</button>
                        <select>
                            <option>City</option>
                        </select>
                        <select>
                            <option>Age</option>
                            <option>&#60; 18</option>
                            <option>&#60; 30</option>
                            <option>&#60; 50</option>
                            <option>&#62; 50</option>
                        </select>
                    </div>
                </div>
            </header>
            <div class="row-padding">
                <div class="user_profile">
                    <img src = "" style="width:100%">
                    <div class="user_info">
                        <p><b>Name</b></p>
                        <p>Info</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</html>