<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>The SON</title>
    <meta charset="UTF-8">
    <meta name="description" content="Page created for the STAW project SON">
    <link rel="stylesheet" type="text/css" href="/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js">
    </script>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    </style>
</head>

<body>
    <div class="modal-content">
        <div class="container">
            <h1>Log in</h1>
            <p>Please fill your data.</p>
            <hr>
            <label for="email"><b>Email</b></label>
            <p id = 'email-alert' style="color: red; font-size: 12px; font-weight: 0;"></p>
            <input type="text" placeholder="Enter Email" name="email" id = 'email' >

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id = 'psw' >

            <button onclick="addUserToDB()">Log in</button>

        </div>
    </div>
</body>

<script>
    var socket = io.connect('http://localhost');
    function addUserToDB(){
        var email = document.getElementById('email').value;
        var psw = document.getElementById('psw').value;
        var email_alert = document.getElementById('email-alert');
        var json = {'email': email,'pass':psw};
        socket.emit('checkUser', json,function(data){
            var response = data;
            if(data == true){
                window.location.href = "http://localhost:3000/friends";
            } else {
                email_alert.innerHTML = "Try again,wrong password/email";  
            }
        });
    }
</script>

</html>