<nav>
    <img src="/user_avatar.png" id="avatar" alt="Your avatar"/>
    <h2>Welcome, NAME!</h2>
    <button onclick="getAcquaintances();">
        <h3>Acquaintances</h3>
    </button>
    <button onclick="getFriends();">
        <h3>Friends</h3>    
    </button>
    <button onclick="getLinks();">
        <h3>Linked accounts</h3>
    </button>
    <button onclick="downloadGraph();">
        <h3>Download network graph</h3>
    </button>
    <script>
        var socket = io.connect('http://localhost');
        function getFriends() {
        socket.emit('getFriendsBody',function(data){
            $(".main").replaceWith(data.response);
        });
        window.history.pushState("object or string","Page Title","/friends");
        }
        function getAcquaintances() {
            socket.emit('getAcqBody',function(data){
                $(".main").replaceWith(data.response);
            })
            window.history.pushState("object or string","Page Title","/acquaintances");
        }
        function getLinks() {
            socket.emit('getLinksBody',function(data){
                $(".main").replaceWith(data.response);
            })
            window.history.pushState("object or string","Page Title","/links");
        }
        function downloadGraph(){
            socket.emit('downloadGraph',function(data){
                $(".main").replaceWith(data.response);
            })
        }
        </script>
</nav>
