<nav>
    <img src="/user_avatar.png" id="avatar" alt="Your avatar"/>
    <h2>Welcome, NAME!</h2>
    <a href="/acquaintances">
        <h3>Acquaintances</h3>
    </a>
    <a href="/friends">
        <h3>Friends</h3>    
    </a>
    <a href="/links">
        <h3>Linked accounts</h3>
    </a>
</nav>