<nav>
    <img src="/user_avatar.png" id="avatar" alt="Your avatar"/>
    <h2>Welcome, NAME!</h2>
    <button onclick="getAcquaintances();">
        <h3>Acquaintances</h3>
    </button>
    <button onclick="getFriends();">
        <h3>Friends</h3>    
    </button>
    <button onclick="getLinks();">
        <h3>Linked accounts</h3>
    </button>
    <script>
        function getFriends() {
            console.log('Button clicked! Running ajax...');
            $.ajax({
                url: '/getFriends',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({message: 'Give me friends :('}),
                success: (data) => {
                    console.log(data.response);
                    $(".main").replaceWith(data.response);
                }
            });
            window.history.pushState("object or string","Page Title","/friends");
        }
        function getAcquaintances() {
            console.log('Button clicked! Running ajax...');
            $.ajax({
                url: '/getAcq',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({message: 'Give me friends of friends:('}),
                success: (data) => {
                    console.log(data.response);
                    $(".main").replaceWith(data.response);
                }
            });
            window.history.pushState("object or string","Page Title","/acquaintances");
        }
        function getLinks() {
            console.log('Button clicked! Running ajax...');
            $.ajax({
                url: '/getLinks',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({message: 'Give me links :('}),
                success: (data) => {
                    console.log(data.response);
                    $(".main").replaceWith(data.response);
                }
            });
            window.history.pushState("object or string","Page Title","/links");
        }
        </script>
</nav>
<div class="main">
</div>