<nav>
    <img src="/user_avatar.png" id="avatar" alt="Your avatar"/>
    <h2>Welcome, NAME!</h2>
    <button onclick="getAcquaintances();">
        <h3>Acquaintances</h3>
    </button>
    <button onclick="getFriends();">
        <h3>Friends</h3>    
    </button>
    <button onclick="getLinks();">
        <h3>Linked accounts</h3>
    </button>
    <script>
        function getFriends() {
            $.ajax({
                url: '/functions',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({func: 'getFriendsBody'}),
                success: (data) => {
                    $(".main").replaceWith(data.response);
                }
            });
            window.history.pushState("object or string","Page Title","/friends");
        }
        function getAcquaintances() {
            $.ajax({
                url: '/functions',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({func: 'getAcqBody'}),
                success: (data) => {
                    $(".main").replaceWith(data.response);
                }
            });
            window.history.pushState("object or string","Page Title","/acquaintances");
        }
        function getLinks() {
            $.ajax({
                url: '/functions',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({func: 'getLinksBody'}),
                success: (data) => {
                    $(".main").replaceWith(data.response);
                }
            });
            window.history.pushState("object or string","Page Title","/links");
        }
        </script>
</nav>
